:root {
  --sudoku-bg-color: rgb(237, 237, 237);
  --sudoku-cell-border: gray;
  --sudoku-text-color: black;
  --sudoku-grid-border: black;
  --hover-candidate: rgba(43, 126, 154,.5);
  --active-candidate: rgba(13, 79, 100,.5);
  --selected-color: red;
  --highlight-color: var(--yellow);
  --color-blue: var(--blue);
  --color-indigo: var(--indigo);
  --color-purple: var(--purple);
  --color-pink: var(--pink);
  --color-red: var(--red);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-teal: var(--teal);
  --color-cyan: var(--cyan);
  --color-gray: var(--gray);
  --color-gray-dark: var(--gray-dark);
}

* {
  box-sizing: border-box;
  color: var(--sudoku-text-color);
}

.show {
  z-index: 2;
}

.hide {
  z-index: -1;
}

#sudoku-grid,
.block,
.cell,
#highlighter-btn-grid,
#coloring-btn-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#sudoku-grid {
  background-color: var(--sudoku-grid-border);
  border: 3px solid var(--sudoku-grid-border);
  gap: 3px;
}

#highlighter-btn-grid,
#coloring-btn-grid {
  background-color: var(--dark);
  width: fit-content;
  padding: 3px;
}

#highlighter-btn-grid button,
#coloring-btn-grid button {
  display:flex;
  border-radius: 0;
  margin: 3px;
}

button.btn-mousetype {
  font-size: .7rem;
}

.block {
  background-color: var(--sudoku-cell-border);
  gap: 2px;
}

.cell {
  background-color: var(--sudoku-bg-color);
  border: 2px solid var(--sudoku-bg-color);
}

.cell.selected {
  border-color: var(--selected-color);
}

.highlighted {
  background-color: var(--highlight-color);
}

.digit {
  display: flex;
  grid-area: 1 / 1 / 4 / 4;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.candidate {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.candidate.eliminated {
  color: var(--sudoku-bg-color);
}

.cell.highlighted .candidate.eliminated{
  color: var(--highlight-color);
}

.candidate:hover {
  background-color: var(--hover-candidate);
  cursor: pointer;
}

.candidate:active {
  background-color: var(--active-candidate);
}

.coloring {
  border: 2px solid transparent;
}

.coloring:hover {
  border: 1px solid #fff;
}

.coloring:active,
.coloring.active {
  border: 2px solid #fff;
}

.blue {
  background-color: var(--color-blue);
}

.purple {
  background-color: var(--color-purple);
}

.pink {
  background-color: var(--color-pink);
}

.red {
  background-color: var(--color-red);
}

.orange {
  background-color: var(--color-orange);
}

.yellow {
  background-color: var(--color-yellow);
}

.green {
  background-color: var(--color-green);
}
.teal {
  background-color: var(--color-teal);
}

.cyan {
  background-color: var(--color-cyan);
}

