#controls {
  /* width: 200px; */
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: repeat(4,1fr); 
  border: solid black 3px;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  gap: 0.5rem;
}

#controls .btn {
--bs-btn-border-color: #212529;
padding: 0.375rem; /* set button padding x and y to be the same */
}

.controls-grid {
  display:grid;
  position: relative;
  grid-template-rows: repeat(4,fr);
  grid-template-columns: repeat(3,fr);
  grid-area: 2 / 1 / 7 / 3;
  font-size: 24px;
}

#action-buttons {
  grid-area: 2 / 3 / 7 / 4;
}

.controls-grid-btn {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

#btn-clear {
  grid-area: 4 / 1 / 5 / 4
}

#shuffle {
  /* grid-column-end: span 2; */
  grid-row-end: span 3;
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
}

#shuffle img {
  max-width: 120px;
}

#shuffle:active {
  background: var(--rainbow);
}

#message-box {
  grid-column-end: span 4;
}

button.action {
--bs-btn-hover-border-color: #212529;
--bs-btn-focus-shadow-rgb: 33,37,41;
--bs-btn-active-border-color: #212529;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-gradient: none;
}