#controls {
  /* width: 200px; */
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto; 
}

.controls-grid {
  display:grid;
  position: relative;
  grid-template-rows: repeat(4,fr);
  grid-template-columns: repeat(3,fr);
  grid-area: 2 / 1 / end / 3;
  margin: 1rem;
}

.controls-grid-btn {
  display: flex;
  flex-wrap: wrap;
  /* This keeps the numbers nicely positioned in when in candidate mode */
  padding: 0px 1px 0px 1px;
  place-content: center;
}

#btn-clear {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
}

#shuffle {
  grid-column-end: span 2;
  max-width: 120px;
}

#shuffle:active {
  background: var(--rainbow);
}