

.show {
  z-index: 2;
}

.hide {
  z-index: -1;
}

#sudoku-grid,
.box,
.cell {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#sudoku-grid {
  gap: var(--box-border-width);
  border: 3px solid;
  border-color: var( --sudoku-grid-border-color);
  background-color: var( --sudoku-grid-border-color);
}

.box {
  gap: var(--cell-border-width)
}

.cell {
  background-color: var(--sudoku-bg-color);
  border: 2px solid var(--sudoku-bg-color);
}

.cell.selected {
  border-color: var(--selected-color);
}

.highlighted {
  background-color: var(--highlight-color);
  border: 2px solid var(--highlight-color);
}

.digit {
  display: flex;
  grid-area: 1 / 1 / 4 / 4;
  color: var(--digit-color);
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.digit.given {
  color: var(--given-color);
}

.candidate {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.candidate:hover {
  background-color: var(--candidate-hover);
  cursor: pointer;
}