


#sudoku-grid,
.box,
.cell {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#sudoku-grid {
  gap: var(--box-border-width);
  border: '3px solid';
  border-color: var( --sudoku-grid-border-color);
  background-color: var( --sudoku-grid-border-color);
}

.box {
  gap: var(--cell-border-width)
}

.digit {
  grid-area: 1 / 1 / 4 / 4;
  color: var(--digit-color);
}

.digit.given {
  color: var(--given-color);
}

.candidate.eliminated {
  color: var(--sudoku-grid-bg);
}

.candidate:hover {
  background-color: var(--candidate-hover);
  cursor: pointer;
}